@import url("https://use.typekit.net/dhd3crj.css");

$breakpoints: (
    tablette: 1100px,
    mobile: 767px
);

$white : #ffffff;
$black : #000000;
$blue : #CDE0EA;
$blue-light : #ECF4F8;
$blue-dark : #BFD0DA;

$font-primary : roc-grotesk-wide, sans-serif;

$font-primary-light : 400;
$font-primary-bold : 700;

